node_modules
**/node_modules
.git
**/dist
**/dist-admin
apps/web/dist
packages/contracts/lib
packages/contracts/out
packages/contracts/cache
packages/evm
**/.env
**/.env.*
*.db
**/*.db
.superpowers
docs
